.home {
  position: relative;
 width: 100%;
  height: 100vh;   /* full window height */
      align-content: center;
}

.home__container {
  padding-top: 3.5rem;
}

.home__data {
  text-align: center;
}
.category__container.container.grid {
    margin-top: 6%;
}

@media (max-width: 600px) {
  .category__container.container.grid {
    grid-template-columns: 1fr;
    margin-top: 13%;
  }
}
.home__title {
    margin-top: 1%;
  position: relative;
  z-index: 100;

  font-family: 'Orbitron', 'Audiowide', sans-serif;

  text-align: center;
  letter-spacing: 2px;

  padding: 1.5rem 3rem;
  margin: 0 auto;
margin-top: 2%;
  color: #ff00ff;

  text-shadow:
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff0077,
    0 0 80px #ff0077;

  border: 3px solid #ff00ff;

  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(6px);

  width: fit-content;

  transition: all 0.3s ease;
}

.home__title:hover {
  transform: scale(1.05);
  text-shadow:
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 40px #00ffff,
    0 0 80px #00ffff;
  border-color: #00ffff;
  color: #00ffff;
}

.home__title span {
  display: block;
  font-family: var(--second-font);
  font-weight: initial;
  color: #eae5ed;
}

.home__title-img-1,
.home__title-img-2 {
  width: 50px;
  position: absolute;
}

.home__title-img-1 {
  left: -1.5rem;
  transform: rotate(-15deg);
  animation: animate-star-1 5s infinite ease-in-out;
}

.home__title-img-2 {
  right: -1.5rem;
  transform: rotate(15deg);
  animation: animate-star-2 5s infinite ease-in-out;
}

.home__description {
  margin-bottom: 2.5rem;
}

.home__img {
  width: 300px;
  justify-self: center;
  margin-top: 2rem;
}

.home__tree-1,
.home__tree-2 {
  width: 120px;
  position: absolute;
  top: 18rem;
}

.home__tree-1 {
  left: -2rem;
}

.home__tree-2 {
  right: -2rem;
}

.home .shape__small {
  top: -3rem;
  left: -3rem;
}

.home .shape__big {
  bottom: 5rem;
  right: -10rem;
}

@keyframes animate-star-1 {
  0% {
    transform: scale(0.7) rotate(-15deg);
    opacity: 0.2;
  }
  50% {
    transform: scale(1) rotate(-15deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.7) rotate(-15deg);
    opacity: 0.2;
  }
}

@keyframes animate-star-2 {
  0% {
    transform: scale(1) rotate(15deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.7) rotate(15deg);
    opacity: 0.2;
  }
  100% {
    transform: scale(1) rotate(15deg);
    opacity: 1;
  }
}