:root {
  --nav-height: 80px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.main-layout {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  overflow-x: hidden;
      background: #000;
}

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  align-content: space-between;
}

.home {
  padding-block: 0rem 0.5rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: initial;
  line-height: 130%;
  color: var(--first-color);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

#site-footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
  font-size: 14px;
}

#site-footer p {
  margin: 0;
}