@media (max-width: 760px) {
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 400px) {
  .form {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .home__title {
    font-size: 1.5rem;
  }

  .home__tree-1 {
    left: -4rem;
  }

  .home__tree-2 {
    right: -4rem;
  }

  .items__container {
    grid-template-columns: 180px;
  }

  .party__img {
    width: 200px;
  }

  .footer__content {
    gap: 2.5rem;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .party__container {
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .home__tree-1,
  .home__tree-2 {
    width: 200px;
  }

  .items__container {
    grid-template-columns: repeat(2, 200px);
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 767px) {
  .section__title {
    margin-bottom: 4rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close,
  .nav__img {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .category__container {
    grid-template-columns: repeat(2, 228px);
    column-gap: 4rem;
  }

  .footer__content {
    grid-template-columns: repeat(4, max-content);
  }
}

@media screen  {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }

  .shape__small,
  .shape__big {
    filter: blur(132px);
    opacity: 0.5;
  }

  .shape__small {
    width: 350px;
    height: 350px;
  }

  .shape__big {
    width: 450px;
    height: 450px;
  }

  .home__title-img-1,
  .home__title-img-2 {
    width: 60px;
  }

  .home__title-img-2 {
    bottom: 5.75rem;
  }

  .home__description {
    padding: 0 7.5rem;
  }

  .home__tree-1,
  .home__tree-2 {
    width: 300px;
    top: 14rem;
  }

  .home__img {
    width: 500px;
  }

  .category__container {
    grid-template-columns: repeat(3, 254px);
  }

  .category__card {
    padding: 6rem 2.5rem 2rem;
  }

  .category__img {
    width: 150px;
  }

  .category__star {
    right: 1rem;
  }

  .category .shape__small {
    top: 10rem;
    left: -12rem;
  }

  .about__img {
    order: -1;
    width: 500px;
  }

  .about__container {
    padding-top: 2rem;
    grid-template-columns: max-content 0.9fr;
    column-gap: 7rem;
    align-items: center;
  }

  .about .shape__big {
    bottom: -12rem;
  }

  .about__data,
  .party__data {
    text-align: initial;
    padding: 2%;
  }

  .about__container .section__title,
  .party__container .section__title {
    text-align: initial;
    margin-bottom: 1.5rem;
  }

  .about__description,
  .party__description {
    margin-bottom: 2.5rem;
  }

  .items__container {
    grid-template-columns: repeat(3, 200px);
    gap: 6rem 3.5rem;
    margin-top: 15%;
  }

  .items__card {
    padding: 6rem 1rem 1.5rem;
  }

  .items__img {
    width: 130px;
  }

  .items__name {
    font-size: var(--h3-font-size);
  }

  .items__button i {
    font-size: 1.5rem;
  }

  .items .shape__big {
    bottom: -12rem;
  }

  .party__container {
    height: 100%;
    display: grid;
    align-content: stretch;
  }

  .party__img {
    width: 400px;
  }

  .party__star-1,
  .party__star-2 {
    width: 100px;
  }

  .party__star-1 {
    top: -5rem;
    left: -5rem;
  }

  .party__star-2 {
    right: -3rem;
    bottom: 3rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__logo {
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
  }

  .footer__content {
    column-gap: 5rem;
  }

  .footer__link {
    font-size: var(--normal-font-size);
  }

  .footer__social {
    column-gap: 1.5rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  .footer__copy {
    margin: 10rem 0 4rem;
  }

  .footer__tree-1,
  .footer__tree-2 {
    width: 250px;
  }

  .footer__tree-1 {
    top: initial;
    bottom: 1.5rem;
    right: -2rem;
  }

  .footer__tree-2 {
    bottom: -1.5rem;
  }

  .footer .shape__big {
    bottom: -16rem;
  }

  .scrollup {
    right: 3rem;
  }
}

@media screen {
  .container {
    margin-inline: auto;
  }
}

@media screen  {
  .home__tree-1,
  .home__tree-2 {
    width: 450px;
  }

  .home__img {
    width: 600px;
    margin-top: 3rem;
  }

  .footer__tree-2 {
    left: 10%;
  }
}